/** Alt Sources styles */
.entry-summary_alt-sources {
    display: flex;
    flex-wrap: wrap;
    p {
        min-width: 100%;
    }
    .entry-summary_alt-sources_source a {
        border-radius: 20px;
        border:1px solid $SPPDarkBlue;
        display: block;
        margin-bottom: 12px;
        margin-right: 12px;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
}