/** Header styles */

.site-branding {

    .custom-logo-link {
        float: left;
        margin-left: 2%;
    }
    .site-title {
        text-align: right;
        margin-right: 3%;
        a {
            color: $SPPBlue;
            font-family: 'Yeseva One', cursive;
            font-size: 1.3rem;
            text-decoration: none;
        }
 
    }
    .site-description {
        margin-top: 65px;
        color: white;
        font-family: $headingFamily;
        font-size: 1.0rem;  
        background-color: $SPPBlue;
        padding: 2% 5%;
        font-style: italic;
    }
}
.main-navigation {
    button {
        margin: 0 auto;
    }
}